# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.platform-darwin':
  'cmd-shift-alt-r': 'git-review:menu'
  'cmd-shift-alt-d': 'git-review:download-change'
  'cmd-shift-alt-s': 'git-review:submit'

'.platform-win32, .platform-linux':
  'ctrl-shift-alt-r': 'git-review:menu'
  'ctrl-shift-alt-d': 'git-review:download-change'
  'ctrl-shift-alt-s': 'git-review:submit'
