# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.platform-dain':
  'cmd-shift-r r': 'git-review:menu'
  'cmd-shift-r d': 'git-review:download'
  'cmd-shift-r s': 'git-review:submit'
  'cmd-shift-r l': 'git-review:list'
  'cmd-shift-r v': 'git-review:version'

'.platform-win32, .platform-linux':
  'ctrl-shift-r r': 'git-review:menu'
  'ctrl-shift-r d': 'git-review:download'
  'ctrl-shift-r s': 'git-review:submit'
  'ctrl-shift-r l': 'git-review:list'
  'ctrl-shift-r v': 'git-review:version'
